* {
    text-align: center;
}

.watchContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border: 2px solid brown;
    width: 50%;
    margin: 0 auto;
    border-radius: 10%;
    background-color: khaki;
    padding-bottom: 20px;
    margin-top: 10%;
}

.clock>h1 {
    display: inline-block;
}

h6 {
    display: inline-block;
}

.watchDivider {
    font-size: 250%;
    font-weight: 600;
}

#startBtn {
    display: inline-block;
    width: 50%;
}

#stopBtn {
    display: none;
    width: 100%;
}

#resetBtn {
    display: none;
    width: 100%;
}

#resumeBtn {
    display: none;
    margin-top: -70%;
    width: 100%;
}

@media only screen and (max-width: 1198px) {
    #resumeBtn {
        margin-top: -70%;
    }
}